body {
  position: relative;
  margin: 0;
  overflow: hidden;
  background-image: url("media/forest.jpg");
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  mix-blend-mode: difference;
}
#blue {
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: color;
}

#box {
  position: relative;
  z-index: 1000;
  width: 340px;
  height: 340px;

  transition: border-width .5s, border-color 2s;
}
#box:hover{
  border-width: 15px;
}
a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;

}

canvas{
  position: absolute;
}
